* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header {
  position: fixed;
  top: 46px;
  left: 0;
  right: 0;
}
header .logo {
  width: 72px;
  height: 31px;
}
header .nav_items {
  border-radius: 8px;
  border: 1px solid #0CF9EF;
  border-bottom-color: #D78BFE;
  border-left-color: #D78BFE;
}
header .nav_items ul {
  background-color: rgba(255, 255, 255, 0.267);
  display: flex;
  border-radius: 8px;
  justify-content: space-around;
}
header .nav_items ul li {
  position: relative;
  color: #fff;
  padding: 13px 17px;
  font-size: 14px;
  cursor: pointer;
}
header .nav_items ul li a {
  text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: inherit;
}
header .nav_items ul li:hover .list_hover {
  opacity: 1;
}
header .nav_items ul li .list_hover {
  border: 1px solid #0CF9EF;
  border-bottom-color: #D78BFE;
  border-left-color: #D78BFE;
  top: 70%;
  position: absolute;
  width: 67px;
  height: 104px;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  opacity: 0;
}
header .nav_items ul li .list_hover ul {
  background: rgba(255, 255, 255, 0.16);
  display: flex;
  flex-direction: column;
}
header .nav_items ul li .list_hover ul li {
  text-align: center;
  color: #fff;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 7px 10px;
}
header .nav_btns {
  display: flex;
  gap: 15px;
  justify-content: end;
}
header .nav_btns button {
  display: flex;
  align-items: center;
  gap: 18px;
  background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: -2.4184262753px -2.4184262753px 120.9213180542px 0px rgba(255, 255, 255, 0.02) inset;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid #0CF9EF;
  border-bottom-color: #D78BFE;
  border-left-color: #D78BFE;
  padding: 13px 27px;
  border-radius: 8px;
  color: #fff;
  text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  position: relative;
}
header .nav_btns button .btn_elements {
  opacity: 0;
  top: 80%;
  right: 0%;
  position: absolute;
  width: 240px;
  border: 1px solid #0CF9EF;
  border-bottom-color: #D78BFE;
  border-left-color: #D78BFE;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4.3607559204px);
          backdrop-filter: blur(4.3607559204px);
  padding: 12px 8px;
  display: flex;
  gap: 17px;
}
header .nav_btns button .btn_elements .mini_card {
  margin-top: 8px;
  width: 100%;
  display: flex;
  background-color: #1f1f1f;
  border-radius: 3px;
  overflow: hidden;
}
header .nav_btns button .btn_elements .mini_card .card_img {
  width: 70px;
  height: 41px;
}
header .nav_btns button .btn_elements .mini_card .card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .nav_btns button .btn_elements .mini_card .card_txt {
  width: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 14px;
}
header .nav_btns button .btn_elements .mini_card .card_txt h4 {
  color: #FFF;
  font-family: Gilroy-Bold;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
header .nav_btns button .btn_elements .right_side {
  margin-top: 8px;
  border-radius: 6px;
  width: 4px;
  height: 185px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: -1.7471857071px -1.7471857071px 104.8311462402px 0px rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(17.4718570709px);
          backdrop-filter: blur(17.4718570709px);
  position: relative;
}
header .nav_btns button .btn_elements .right_side::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 50px;
  left: -200%;
  background: linear-gradient(146deg, rgba(12, 249, 240, 0.5) 0%, rgba(214, 134, 255, 0.5) 100%);
}
header .nav_btns button .el_active {
  opacity: 1;
}
header .nav_btns button .circle {
  width: 10px;
  height: 10px;
  border-radius: 12.5px;
  background: #E24D4D;
  box-shadow: -1.2999999523px 1.2999999523px 4px 0px rgba(248, 0, 0, 0.4);
}

body {
  background-color: #1f1f1f;
}

#bg_img {
  width: 100%;
  height: 344px;
  background-image: url("../image/Cover-Back-Area.png");
  background-size: cover;
}/*# sourceMappingURL=style.css.map */